<?xml version="1.0"     encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--开启组件的扫描-->
    <context:component-scan base-package="com.neimeng.daiyinbao.baoxian.controller"/>
    <context:component-scan base-package="com.neimeng.daiyinbao.cunqian.controller"/>
    <context:component-scan base-package="com.neimeng.daiyinbao.jieqian.controller"/>

    <!--配置视图解析-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <bean id="view" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置前缀--><property name="prefix" value="/jsp"/>
        <!--配置后缀--><property name="suffix" value=".jsp"/>
        <!--配置JSTL支持--><property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
   <!--开启spring mvc注解模式--> <mvc:annotation-driven/>
    <!--开放资源静态访问--><mvc:default-servlet-handler/>
</beans>